@{
    ViewData["Title"] = "Home Page";
}

<div class="pet-home">
    <h1 class="display-4">Welcome to the Paws & Claws pet store</h1>
    <img src="/images/download (1).jpeg" alt="Your Image" />
    <h3 class="display-4">"Discover Your Perfect Companion at Paws & Claws!</h3>
    <p>
        Welcome to our pet emporium, where tails wag and feathers fly! Explore a diverse array of adorable companions waiting to join your family. From playful puppies and cuddly kittens to majestic birds and exotic reptiles, we have the perfect pet for every home. Find your furry, feathery, or scaly friend today!"
    </p>
    <img src="/images/images.jpeg" alt="Your Image" />
</div>
